$def with (dict)
$var title = 'Contributions'

<div class="container">
<div class="breadcrumb">
    <div class="item"><a href="/savings/contributions">Contributions</a></div>
</div>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th># shares</th>
            <th>Total</th>
            <th>Grand Total</th>
            <th>Interest </br> Patronage Earned</th>
            <th>Receivable</th>
        </tr>
        $for d in dict:
            <tr>
                <td><a href="/savings/contributions/view/$d.custid">$d.name</a></td>
                <td>$d.numberShares</td>
                <td>$d.total</td>
                <td>$d.grandTotal</td>
                <td>$d.interestpat</td>
                <td>$d.receivable</td>
            </tr>
    </table>
</div>
