$def with (savings, formatNumber, wamount)
$var title = 'Summary'

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr class="success">
            <th>Month</th>
            <th>Contributions</th>
            <th>Penalty</th>
            <th>Loan Amounts</th>
            <th>Loan Payments</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    $for saving in savings:
        <tr>
            <td>$saving.month</td>
            <td>$formatNumber(saving.amount)</td>
            <td>$formatNumber(saving.penalty)</td>
            <td>$formatNumber(saving.loan_amount)</td>
            <td>$formatNumber(saving.loan_payment)</td>
            <td>$formatNumber(saving.total)</td>
        </tr>
    $code:
        def get_totalamount():
            val = 0
            for s in savings:
                val += s.amount
            return formatNumber(val)

        def get_totalpenalty():
            val = 0
            for s in savings:
                val += s.penalty
            return formatNumber(val)

        def get_totalloanamount():
            val = 0
            for s in savings:
                val += s.loan_amount
            return formatNumber(val)

        def get_totalloanpayment():
            val = 0
            for s in savings:
                val += s.loan_payment
            return formatNumber(val)

        def get_totalgrandtotal():
            val = 0
            for s in savings:
                val += s.total
            return formatNumber(val)

        def get_cashonhand():
            val = 0
            for s in savings:
                val += s.total
            val -= wamount
            return val

        def get_withdrawnamount():
            return formatNumber(wamount)

    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr class="info">
        <td><b>Total:</b></td>
        <td><b>$get_totalamount()</b></td>
        <td><b>$get_totalpenalty()</b></td>
        <td><b>$get_totalloanamount()</b></td>
        <td><b>$get_totalloanpayment()</b></td>
        <td><b>$get_totalgrandtotal()</b></td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td class="danger"><b>Withdrawn Amount:</b></td>
        <td class="danger"><b>$get_withdrawnamount()</b></td></tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td class="warning"><b>Current COH:</b></td>
        <td class="warning"><b>$formatNumber(get_cashonhand())</b></td>
    </tr>
    </tbody>
</table>

