$def with (args, customer)
$var title = args['state'] + ' customer'

<h3>$args['state'] customer</h3>
$if args['error']:
    <p id="id_login_error">$args['error']</p>
<form class="form-horizontal" role="form" method="POST" name="customer_form" id="customer_form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-sm" style="width:40%;" placeholder="Name" id="name" name="name" required="" autofocus=""
            $if customer:
                value="$customer['name']"

            $if args['state'] == "Edit":
                readonly=""
            >
        </div>
    </div>
    <div class="form-group">
        <input type='hidden' id="member_hv" name="member_hv"
        $if customer:
            value="$customer['member']"
        $else:
            value="0"
        >
        <label for="amount" class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-6 col-sm-6 col-lg-4">
            <div class="checkbox">
                <label><input type="checkbox" id="ismember" name="ismember" data-toggle="collapse" data-target="#collapseMemberPerks" aria-expanded="false" aria-controls="collapseMemberPerks">Member</label>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseMemberPerks">
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label"># of Shares</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-sm" style="width:40%;" placeholder="# of Shares" id="numbershares" name="numbershares" required=""
                $if customer:
                    value="$customer['number_shares']"
                >
            </div>
        </div>
        <div class="form-group">
            <input type='hidden' id="patronage_hv" name="patronage_hv"
            $if customer:
                value="$customer['patronage']"
            $else:
                value="0"
            >
            <label for="amount" class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-6 col-sm-6 col-lg-4">
                <div class="checkbox">
                    <label><input type="checkbox" id="patronage" name="patronage">Patronage</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="amount" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" style="width:40%;" placeholder="Address" id="address" name="address" required=""
            $if customer:
                value="$customer['address']"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Cell Number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" style="width:40%;" placeholder="Cell number" id="cellno" name="cellno"
            $if customer:
                value="$customer['cellno']"
            >
        </div>
    </div>
    <div class="form-group">
        <label for="amount" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" style="width:40%;" placeholder="Email address" id="email" name="email" required=""
            $if customer:
                value="$customer['email']"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <button class="btn btn-lg btn-primary" style="width:40%;" type="submit">Submit</button>
        </div>
    </div>
</form>
