$def with (loans,datetime,formatNumber)
$var title = 'Loans'

<a class="btn btn-default btn-success" href="/savings/loans/add">Add new loan</a></br></br>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr class="success">
                <th>Name</th>
                <th>Date Released</th>
                <th>Date Due</th>
                <th>Amount</th>
                <th>Interest</th>
                <th>Total payable</th>
                <th>Total payment</th>
                <th>Outstanding Balance</th>
                <th>Fully Paid on</th>
            </tr>
        </thead>
        <tbody>
        $for loan in loans:
            <tr>
                <td><a href="/savings/loans/edit/$loan.id">$loan.name</a></td>
                <td>$datetime.strftime(loan.date_rel, '%m-%d-%Y')</td>
                <td>$loan.date_due</td>
                <td>$formatNumber(loan.amount)</td>
                <td>$loan.interest</td>
                <td>$formatNumber(loan.total_payable)</td>
                <td>$formatNumber(loan.total_payment)</td>
                <td>$formatNumber(loan.outstanding_bal)</td>
                <td>$loan.fully_paidon</td>
            </tr>
        $code:
            def get_totalloanamount():
                val = 0
                for l in loans:
                    val += l.amount
                return formatNumber(val)

            def get_totalpayable():
                val = 0
                for l in loans:
                    val += l.total_payable
                return formatNumber(val)

            def get_totalpayment():
                val = 0
                for l in loans:
                    val += l.total_payment
                return formatNumber(val)

            def get_totaloutsbalance():
                val = 0
                for l in loans:
                    val += l.outstanding_bal
                return formatNumber(val)
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr class="info">
            <td><b>Total</b></td>
            <td></td>
            <td></td>
            <td><b>$get_totalloanamount()</b></td>
            <td></td>
            <td><b>$get_totalpayable()</b></td>
            <td><b>$get_totalpayment()</b></td>
            <td><b>$get_totaloutsbalance()</b></td>
            <td></td>
        </tr>
        </tbody>
    </table>


